.header {
  display: flex;
}
.left{
  width: 47%;
  margin-left: 14rem;
  margin-top: 3.4rem;
  letter-spacing: 1px;
}
.right{
  width: 52%;
}
@media (max-width: 1024px) {
  html{
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  .header{
    display: block;
  }
  .left{
    width: 100%;
    margin-top: 3rem;
    margin-left: 0;
  }
  .right{
    width: 100%;
  }
}